<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.g_node.gcaa"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <permission
        android:name="com.map.mapdemo.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.truiton.supportmapfragment.permission.MAPS_RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name="com.g_node.gca.newsroom.NewsRoomActivity"
            android:label="@string/title_activity_newsroom"
            android:parentActivityName="com.g_node.gca.MainActivity" >
        </activity>
        <activity
            android:name="com.g_node.gca.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.g_node.gca.abstracts.Abstracts"
            android:label="@string/title_activity_abstracts"
            android:parentActivityName="com.g_node.gca.MainActivity"
            android:windowSoftInputMode="stateUnchanged" >
        </activity>
        <activity
            android:name="com.g_node.gca.abstracts.AbstractContent"
            android:label="@string/title_activity_abstracts"
            android:parentActivityName="com.g_node.gca.abstracts.Abstracts" >
        </activity>
        <activity
            android:name="com.g_node.gca.abstracts.FavoriteAbstracts"
            android:label="@string/title_activity_favorite_abstracts"
            android:parentActivityName="com.g_node.gca.MainActivity" >
        </activity>
        <activity android:name="com.g_node.gca.SplashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.g_node.gca.map.MapActivity"
            android:label="@string/title_activity_map"
            android:parentActivityName="com.g_node.gca.MainActivity" >

        </activity>
        <meta-data
		    android:name="com.google.android.gms.version"
		    android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA7lzhoQo0xmdu1Rx_v7Nk7fM3K38h6xlw" />

        <activity
            android:name="com.g_node.gca.schedule.ScheduleMainActivity"
            android:label="@string/title_activity_schedule_main"
            android:parentActivityName="com.g_node.gca.MainActivity" >
        </activity>
        <activity
            android:name="com.g_node.gca.schedule.ScheduleItemExtended"
            android:label="@string/title_activity_schedule_item_extended" >
        </activity>
        <activity
            android:name="com.g_node.gca.abstracts.AbstractFiguresActivity"
            android:label="@string/title_activity_abstract_figures" >
        </activity>
        <activity
            android:name="com.g_node.gca.GeneralActivity"
            android:label="@string/title_activity_generalInfo" >
        </activity>
    </application>

</manifest>